{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur le site Projet</h1>
<img src="https://source.unsplash.com/random/1200x800"/>
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet sapien justo. Suspendisse fringilla dictum erat, nec molestie dui posuere ut. Donec ligula quam, imperdiet ac convallis non, viverra gravida ante. Quisque eget nisi eu nisl mattis accumsan ac in tellus. Mauris accumsan urna a ex porttitor convallis. Aliquam a libero diam. Aenean bibendum, eros sed ultrices dignissim, neque arcu lacinia tellus, at scelerisque urna purus sit amet dolor. Quisque semper at enim eget dignissim. In auctor nibh sed orci congue, vel rhoncus mauris vestibulum.

Vivamus porttitor pretium neque non feugiat. Sed imperdiet molestie nisi sit amet tempor. Ut faucibus rhoncus urna tincidunt luctus. Nulla imperdiet auctor metus, sed fringilla ligula aliquet non. Aliquam erat volutpat. Maecenas finibus arcu eu ante sagittis accumsan. Morbi quis rutrum purus. Integer semper orci massa, ac iaculis nunc consequat at.

Maecenas mattis, ex sit amet semper ultrices, purus risus mollis enim, et imperdiet est dolor at ligula. Duis scelerisque tellus erat, eu sollicitudin justo viverra eget. Proin pharetra neque eget felis fermentum aliquet ac vehicula felis. Integer condimentum lorem et euismod sodales. Vestibulum tempus, justo non pretium auctor, arcu lacus convallis justo, ac suscipit mauris quam ac magna. Integer sollicitudin quam ut ex faucibus, in maximus nulla ultrices. Curabitur tellus justo, porta congue mollis vel, laoreet eu arcu. Nulla facilisi. Mauris facilisis mollis purus, non facilisis turpis tempus eu. In nec tortor elit. Phasellus dictum placerat dolor, sed consequat augue imperdiet vel. Etiam sit amet faucibus ex, non vestibulum ligula. Suspendisse iaculis luctus nulla, quis consectetur lorem bibendum quis.

Vivamus nec nibh at tortor sodales varius. Nam ac sem vel lorem sodales accumsan. Aliquam ante massa, pretium vel diam eu, porttitor molestie arcu. Morbi vel neque a dolor commodo pellentesque. Vestibulum ornare vitae dui eget interdum. Integer lobortis diam quam, eu venenatis justo malesuada imperdiet. Nunc magna nisl, faucibus mattis leo quis, interdum vehicula sem. Curabitur vitae tortor quis tellus sodales dictum non non nibh. Etiam nec nulla tellus. Duis ut justo id mauris placerat suscipit. Etiam sollicitudin orci vel rutrum congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed varius risus.

Aenean pulvinar lacus nec aliquam porttitor. In libero turpis, rutrum euismod ultricies vestibulum, mattis sed velit. Integer in tincidunt elit. Sed consequat id nisl et euismod. Nulla lobortis libero in nunc ullamcorper convallis. Proin sem lectus, congue in egestas sed, laoreet eu ipsum. Phasellus eleifend efficitur facilisis.</div>
<hr class="my-4">
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
{% endblock %}