{% extends 'base.html.twig' %}
{% block body %}
<div>
    <h1>{{ projet.title }}</h1>
    <p>Publié le {{ projet.createdAt|date('d/m/Y à h:i') }} </p>
    <img src="{{ projet.image }}" /></br>
    <div>{{ projet.content|raw }}</div>
</div>
{% endblock %}